<!doctype html>
<html>
  <head>
    <title><!-- tmpl_var name='uc_zone' --> - Fast and Reliable Dynamic DNS</title>
    <!-- tmpl_include name='header.inc' -->
  </head>
  <body>
    <div id="bar">
      <!-- tmpl_include name="login-or-menu.inc" -->
    </div>
    <div id="content">
      <h1><!-- tmpl_var name='uc_zone' --> - Free Dynamic DNS</h1>
      <blockquote>
      <p><!-- tmpl_var name='uc_zone' --> allows you to control DNS entries beneath the <b><span class="tt">.<!-- tmpl_var name='zone' --></span></b> domain.</p>
      <p>You can quickly and easily configure a name such as <b><span class="tt">gateway.<!-- tmpl_var name='zone' --></span></b> to point to the IP of your home gateway - with both IPv4 and IPv6 supported.</p>
      <p>Once you've registered you can update your name(s) via a simple call to <span class="tt">curl</span>, or using your web-browser, with no need to install or configure any client.</p>
      <p>Unfortunately <b>registration is closed</b> to new users.</p>
      </blockquote>

      <h2 style="border-bottom: 1px solid silver;">Git-based DNS Hosting</h2>
      <blockquote>
      <p>If you find this service useful you might wish to look at our sister-site, which allows publishing DNS records directly from a <span class="tt">git</span> repository:</p>
        <ul>
        <li><a href="https://dns-api.com/">Git-based DNS hosting</a>.</li>
        </ul>
        <p>It uses the same distributed and redundant backends, and allows you to update your records whenever you like, with fixed pricing based on the number of zones you host.</p>
        <p>Thanks to the use of <span class="tt">git</span> revision control system you maintain a complete history of your changes.</p>
      </blockquote>
    </div>
    <!-- tmpl_include name='footer.inc' -->
  </body>
</html>
