<!doctype html>
<head>
  <title><!-- tmpl_var name='uc_zone' --> - Fast and Reliable Dynamic DNS</title>
  <!-- tmpl_include name='header.inc' -->
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">

    <h2>Delete the <!--tmpl_var name='existing' --> account</h2>
    <p>If you're really sure you wish to delete your profile please click on the following link:</p>
    <p>Once deleted <b>there is no going back</b> - your account is <b>gone</b>, and your <b>records will be deleted</b>.</p>
    <ul>
      <li><a href="/profile/delete/really/"><b>Really delete <!-- tmpl_var name='existing' --></b></a></li>
    </ul>

  </div>
  <!-- tmpl_include name='footer.inc' -->
</body>
</html>
