<!doctype html>
<head>
  <title><!-- tmpl_var name='uc_zone' --> - Fast and Reliable Dynamic DNS</title>
  <!-- tmpl_include name='header.inc' -->
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">

    <h2>Read-Only</h2>
    <blockquote>
      <p>This site is currently in read-only mode, and your changes
        cannot be made.</p>
      <p>Please try again later.</p>
    </blockquote>


  </div>
  <!-- tmpl_include name='footer.inc' -->
</body>
</html>
