<!doctype html>
<head>
  <title><!-- tmpl_var name='uc_zone' --> - Fast and Reliable Dynamic DNS</title>
  <meta charset="utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1"/>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37997217-6', 'dhcp.io');
    ga('send', 'pageview');
  </script>

  <link rel="stylesheet" href="/css/s.css" />
  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/j.js"></script>

</head>
<body>
  <div id="bar">
    <!-- tmpl_if name='username' -->
    <div id="container">
      <span style="font-size:20px;"><a href="/"><!-- tmpl_var name='uc_zone' --></a> - Fast and Reliable Dynamic-DNS</span>
      <div id="loginContainer">
        <a href="/logout/" class="Button"><span>Logout</span><em></em></a>
        <a href="/faq/" class="Button"><span>FAQ</span><em></em></a>
        <a href="/profile/" class="Button"><span>Profile</span><em></em></a>
        <a href="/logs/" class="Button"><span>Logs</span><em></em></a>
      </div>
    </div>
    <!-- tmpl_else -->
    <div id="container">
      <span style="font-size:20px;"><a href="/"><!-- tmpl_var name='uc_zone' --></a> - Fast and Reliable Dynamic-DNS</span>
      <div id="loginContainer">
        <a href="/login/" id="loginButton"><span>Login</span><em></em></a>
        <div style="clear:both"></div>
        <div id="loginBox">
          <form id="loginForm" method="POST" action="/login/">
            <input type="hidden" name="mode" value="login">
            <fieldset id="body">
              <fieldset>
                <label for="lname">Login</label>
                <input type="text" name="lname" id="lname" />
              </fieldset>
              <fieldset>
                <label for="lpass">Password</label>
                <input type="password" name="lpass" id="lpass" />
              </fieldset>
              <input type="submit" name="login" id="login" value="Sign in" />
            </fieldset>
            <span><a href="/create/">Create an account</a></span>
          </form>
        </div>
      </div>
      <a href="/faq/" class="Button"><span>FAQ</span><em></em></a>
    </div>
    <!-- /tmpl_if -->

  </div>
  <div id="content">
##CONTENT##
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div style="border-top:1px solid silver">
    <table width="100%">
      <tr>
        <td width="25%" valign="top">
          <ul>
            <li>Related Links
              <ul>
                <li><a href="https://dns-api.org/">Online DNS lookup service</a></li>
                <li><a href="https://dns-api.com/">Git-based DNS Hosting</a></li>
              </ul>
            </li>
          </ul>
        </td>
        <td width="25%" valign="top">
          <ul>
            <li>Author Links
              <ul>
                <li><a href="https://blog.steve.org.uk/">Blog</a></li>
                <li><a href="https://twitter.com/Stolen_Souls">Twitter</a></li>
              </ul>
            </li>
          </ul>
        </td>
        <td width="25%" valign="top">
          <ul>
            <li>Site Links
              <ul>
                <li><a href="/abuse/">Report Abuse</a></li>
                <li><a href="/feedback/">Leave Feedback</a></li>
              </ul>
            </li>
          </ul>
        </td>
        <td width="25%" valign="top">
          <script type="text/javascript">
            /* <![CDATA[ */
    (function() {
        var s = document.createElement('script');
        var t = document.getElementsByTagName('script')[0];

        s.type = 'text/javascript';
        s.async = true;
        s.src = '//api.flattr.com/js/0.6/load.js?'+
                'mode=auto&uid=skx&language=sv_SE&category=text&button=compact';

        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
          </script>

          <p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"   data-via="Stolen_Souls" data-url="https://dhcp.io/">Tweet</a></p>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          <p><a class="FlattrButton" href="https://dhcp.io/" description="Free Dynamic-DNS" title="Free Dynamic-DNS">Free Dynamic-DNS</a></p>

        </td>
      </tr>
    </table>
  </div>
</body>
</html>
