To: steve@dhcp.io
From: steve@dhcp.io
Subject: [DHCP.io] - Received Interest.
Content-type: text/plain

The following user expressed an interest in a paid option

<!-- tmpl_var name='email' -->
<!-- tmpl_if name='username' -->
This is the registered user <!-- tmpl_var name='username' -->
<!-- /tmpl_if -->
<!-- tmpl_if name='comm' -->
The following comment(s) were left:
  <!-- tmpl_var name='comm' -->
<!-- /tmpl_if -->

Steve
--