<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>DHCP.io - Free Dynamic DNS</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
  <script src="/js/login.js"></script>
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">
<!-- tmpl_if name='created' -->
<h1>Account Created</h1>
<p>You may now login.</p>
<!-- tmpl_else -->

          <h1>Create An Account</h1>
          <p>To get started you need to pick the name of the host you'll control - beneath the <b><tt>.dhcp.io</tt></b> domain.</p>
          <p>(So if you pick "<tt>bob</tt>" you'll be able to control the IP address that <tt>bob.dhcp.io</tt> points to.)</p>
          <form method="POST" action="/cgi-bin/index.cgi">
          <input type="hidden" name="mode" value="create">
          <table>
          <tr><td>Hostname</td>
          <td><input type="text" name="zone"></td></tr>
          <tr><td>Password</td>
          <td><input type="password" name="password"></td></tr>
          <tr><td>Email [optional]</td>
          <td><input type="text" name="email"></td></tr>
          <tr><td></td>
                    <td align="right"><input type="submit" name="submit" value="create"></td></tr>
<!-- tmpl_if name='error' -->
          <tr><td colspan="2"><p><b><!-- tmpl_var name='error' --></b></p></td></tr>
<!-- /tmpl_if -->
                    </table>

<!-- /tmpl_if -->
  </div>
</body>
</html>
