<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>DHCP.io - Free Dynamic DNS</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
  <script src="/js/login.js"></script>
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">
    <h1>Frequently Asked Questions</h1>
    <dl>
      <dt>Who created this site, and why was it made?</dt>
      <dd><p>This site was created by <a href="http://steve.org.uk/">Steve Kemp</a>.</p>
        <p>I've recently started using Amazon's Route53 service for hosting DNS, and I wanted to be sure that I fully understanded how it worked, and how it could be used.</p>
        <p>This site was originally created as a learning experience; one of the simplest things that could possibly be done with an API for DNS.</p>
      </dd>
      <dt>Is the code behind the site available?</dt>
      <dd>
        <p>Yes it is, and you can find the <a href="http://github.com/skx/dhcp.io/">code on Github</a>.</p>
        <p>I don't expect that many people would wish to run their installation of the service, but if they do it should be possible.</p>
      </dd>
      <dt>Is there a way to make donations?</dt>
      <dd>
        <p>DNS queries cost money to answer, but so far the volume is low and cost isn't a concern.</p>
        <p>If/When that changes I will update here, and allow people the opportunity to sponsor the site, or make donations.</p>
      </dd>
    </dl>
  </div>
</body>
</html>
