<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>DHCP.io - Free Dynamic DNS</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
  <script src="/js/login.js"></script>
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">
    <h1>Frequently Asked Questions</h1>
    <dl>
      <dt>Who created this site, and why was it made?</dt>
      <dd><p>This site was created by <a href="http://steve.org.uk/">Steve Kemp</a>.</p>
        <p>I've recently started using Amazon's Route53 service for hosting DNS, and I wanted to be sure that I fully understood how it worked, and how it could be used.</p>
        <p>This site was born as a result of that learning experience; one of the simplest things that could possibly be done with an API for DNS.</p>
      </dd>

      <dt>How long does it take for DNS changes to take effect?</dt>
      <dd>
        <p>All the records beneath the <span class="tt">.<!-- tmpl_var name='zone' --></span> zone have a 60 second <abbr title="time to live">TTL</abbr>.</p>
        <p>This means that records <i>should</i> update in less than a minute, however local caches might misbehave and cause the updates to take longer.</p>
      </dd>

      <dt>How do I set only IPv6 or IPv4 addresses?</dt>
      <dd>
        <p>If the host you're updating from has <i>both</i> IPv4 and IPv6 connectivity you might find you update the wrong value.</p>
        <p>The solution is to explicitly choose which version you wish to update via the <span class="tt">-4</span> and <span class="tt">-6</span> arguments to <span class="tt">curl</span>:</p>
        <blockquote>
        <pre>
          $ # This will update the IPv4 address.
          $ curl -4 http://<!-- tmpl_var name='zone' -->/set/efa6961c-f3dd-11e3-955b-...

          $ # This will update the IPv6 address.
          $ curl -6 http://<!-- tmpl_var name='zone' -->/set/efa6961c-f3dd-11e3-955b-...
        </pre>
        </blockquote>
      </dd>
      <dt>Is the code behind the site available?</dt>
      <dd>
        <p>Yes it is, and you can find the <a href="http://github.com/skx/dhcp.io/">code on Github</a>.</p>
        <p>I don't expect that many people would wish to run their installation of the service, but if they do it should be possible.</p>
      </dd>
      <dt>Is there a way to make donations?</dt>
      <dd>
        <p>DNS queries cost money to answer, but so far the volume is low and cost isn't a concern.</p>
        <p>If/When that changes I will update here, and allow people the opportunity to sponsor the site, or make donations.</p>
      </dd>
    </dl>
  </div>
  <!-- tmpl_include name='footer.inc' -->
</body>
</html>
