<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>DHCP.io - Free Dynamic DNS</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
  <script src="/js/login.js"></script>
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">
    <h1>Frequently Asked Questions</h1>
    <dl>
      <dt>Who created this site?</dt>
      <dd><p>This site was created by <a href="http://steve.org.uk/">Steve Kemp</a>.</p></dd>
      <dt>Is the code behind the site open?</dt>
      <dd><p>Yes it is, and you can find the <a href="http://github.com/skx/dhcp.io/">code on Github</a>.</p></dd>
    </dl>
  </div>
</body>
</html>
