<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>DHCP.io - Free Dynamic DNS</title>
  </head>
  <body>
    <div style="text-align: center;"><h1>DHCP.io - Free Dynamic DNS</h1></div>

    <table width="100%">
      <tr><td width="15%" valign="top">
        </td>
        <td width="60%" valign="top">

          <h1>Welcome Home <!-- tmpl_var name='username' --></h1>
          <p>You're in charge of the hostname <b><tt><!-- tmpl_var name='username' escape='html' -->.dhcp.io</tt></b>.</p>
          <p>To update the value this points to please run:</p>
          <blockquote>
            <pre>
              $ curl http://dhcp.io/set/<!-- tmpl_var name='token' -->
            </pre>
          </blockquote>
          <p>If you wish to set the value to a specific IP please run:</p>
          <blockquote>
            <pre>
              $ curl http://dhcp.io/set/<!-- tmpl_var name='token' -->/1.2.3.4
            </pre>
          </blockquote>

        </td>
        <td width="25%" valign="top">
          <h2>User Menu</h2>
          <ul>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </body>
</html>
