<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>DHCP.io - Free Dynamic DNS</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
  <script src="/js/login.js"></script>
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">
    <h1>Welcome Home <!-- tmpl_var name='username' --></h1>
    <p>You're in charge of the hostname <b><span class="tt"><!-- tmpl_var name='username' escape='html' -->.dhcp.io</span></b>.</p>
    <p>To update the value this points to please run:</p>
    <blockquote>
      <pre>
        $ curl http://dhcp.io/set/<!-- tmpl_var name='token' -->
      </pre>
    </blockquote>
    <p>If you wish to set the value to a specific IP please run:</p>
    <blockquote>
      <pre>
        $ curl http://dhcp.io/set/<!-- tmpl_var name='token' -->/1.2.3.4
      </pre>
    </blockquote>

    <p>Finally if you wish to avoid your URL being sniffed, stored, or copied, you could use a HTTP-POST instead:</p>
    <blockquote>
      <pre>
        $ curl -X POST http://dhcp.io/set --data 'token=<!-- tmpl_var name='token' -->&amp;ip=23.34.45.56'
      </pre>
      <p>(As before if you omit the <span class="tt">ip=x.x.x.x</span>  then the source of your request will be assumed.)</p>
    </blockquote>
  </div>
</body>
</html>
