<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>DHCP.io - Free Dynamic DNS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src="/js/login.js"></script>
  </head>
  <body>
    <div id="bar">
      <!-- tmpl_include name="login-or-menu.inc" -->
    </div>
    <div id="content">
      <h1>DHCP.io - Free Dynamic DNS</h1>
      <p>DHCP.io allows you to control the DNS entry belonging to a name beneath the <b><span class="tt">.<!-- tmpl_var name='zone' --></span></b> domain (both IPv4 and IPv6).</p>
      <p>This will allow you to configure a name such as <b><span class="tt">gateway.<!-- tmpl_var name='zone' --></span></b> to point to the IP of your home gateway.</p>
      <p>Registering takes seconds, we only need the name you wish to control:</p>
      <ul>
        <li><a href="/create/">Create your name</a> for free.
          <ul>
            <li>You don't need to give us your email address, unless you fear you'll forget your password!</li>
          </ul></li>
      </ul>
      <p>Once you've registered you can update your name via a simple call to <span class="tt">curl</span>, or your web-browser, with no need to install or configure any client.</p>
    </div>
    <!-- tmpl_include name='footer.inc' -->
  </body>
</html>
