<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>DHCP.io - Free Dynamic DNS</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src="/js/login.js"></script>
  </head>
  <body>
    <div id="bar">
      <!-- tmpl_include name="login-or-menu.inc" -->
    </div>
    <div id="content">
      <h1>DHCP.io - Free Dynamic DNS</h1>
      <p>DHCP.io allows you to control the DNS entry belonging to a name beneath the <span class="tt">.dhcp.io</span> domain.</p>
      <p>For example you could configure the name <span class="tt">steve.dhcp.io</span> to point to the IP of your home gateway.</p>
      <p>To get started please create your account:</p>
      <ul>
        <li><a href="/create/">Create your name</a>, it is free, and you don't need to give your email address.</li>
      </ul>
      <p>We're proud to support IPv6!</p>
    </div>
    <!-- tmpl_include name='footer.inc' -->
  </body>
</html>
