<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>DHCP.io - Free Dynamic DNS</title>
  </head>
  <body>
    <div style="text-align: center;"><h1>DHCP.io - Free Dynamic DNS</h1></div>

    <table width="100%">
      <tr><td width="15%" valign="top">
        </td>
        <td width="60%" valign="top">
          <p>DHCP.io allows you to control the DNS entry belonging to a name beneath the <tt>.dhcp.io</tt> domain.</p>
          <p>For example you could configure the name <tt>steve.dhcp.io</tt> to point to the IP of your home gateway.</p>
          <p>To get started please create your account:</p>
          <ul>
            <li><a href="/create/">Create your name</a>, it is free, and you don't need to give your email address.</li>
          </ul>
        </td>
        <td width="25%" valign="top">
<!-- tmpl_include name='menu.inc' -->
        </td>
      </tr>
    </table>
  </body>
</html>
