<!doctype html>
<head>
  <title><!-- tmpl_var name='ZONE' --> - Fast and Reliable Dynamic DNS</title>
  <!-- tmpl_include name='header.inc' -->
</head>
<body>
  <div id="bar">
    <!-- tmpl_include name="login-or-menu.inc" -->
  </div>
  <div id="content">
<!-- tmpl_if name='thanks' -->
     <h1>Thanks for your interest</h1>
     <p>Your email has been recorded and we'll be in touch soon.</p>
<!-- tmpl_else -->
  <h1>Premium Features</h1>
  <p>Several features are planned for future, perhaps at a small annual premium, or one-off/lifetime fee.</p>
  <p>If you'd like to register your interest in any new feature, be it MX records, TTL changes, or GitHub-backed DNS hosting, please register your interest below:</p>
<form method="POST" action="/cgi-bin/index.cgi">
      <input type="hidden" name="mode" value="capture">
<table>
<tr><td>Your email</td>
     <td><input type="text" name="email" value ="" ></td></tr>
<tr><td>What would you like to see?</td>
     <td><textarea rows="5" cols="80" id="comments" name="comments"></textarea></td></tr>
<tr><td></td>
    <td><input type="submit" name="submit" value="Record Interest"></td></tr>
</table>
</form>
<p>It would be very helpful to have an idea of the kind of things users would like to see.</p>
<!-- /tmpl_if -->
  </div>
  <!-- tmpl_include name='footer.inc' -->
</body>
</html>
