# -*- cperl -*- #

=head1 NAME

DHCP::Config - Configuration holder for Amazon Credentials.

=head1 DESCRIPTION

This module should be renamed `Config.pm` before the code is deployed,
and the settings inside it should be updated to match your own.

=cut

=head1 AUTHOR

Steve Kemp <steve@steve.org.uk>

=cut

=head1 COPYRIGHT AND LICENSE

Copyright (C) 2014 Steve Kemp <steve@steve.org.uk>.

This library is free software. You can modify and or distribute it under
the same terms as Perl itself.

=cut

package DHCP::Config;


our $ROUTE_53_ID  = "xxxxxxxxxxx";
our $ROUTE_53_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";


#
#  The Zone we use - Note that the trailing period is ESSENTIAL.
#
our $ZONE = "dhcp.io.";



#
#  Redis host
#
our $REDIS_HOST = "127.0.0.1:6379";


#
#  The Zone-ID which can be found in your Amazon console, this should
# match the domain listed above.
#
our $ZONE_ID = "xxxx";


#
#  The sender for emails
#
our $SENDER = 'steve@dhcp.io';


#
#  The salt applied to all passwords, to avoid dictionary attacks against
# any stolen hashes.
#
#  NOTE:  You must set this prior to deployment.
#
#  NOTE:  If you change this then all previously set passwords will be
# invalid.
#
#
our $SALT =
  'VieghohS7ookOhT3giebiig7peiroov/i4OoEig%eghae7ufJa=w7eev4ooH AeF7eiyo\foiEf"i7sie[Y$a';


#
#  The list of forbidden usernames
#
our @FORBIDDEN = (
    qw! ip6 ipv6 ipv4 ip4 ip tftp ntp nntp time snmp https syslog shell domain printer login exec nntps ftps irc pop3 pop3s ftp ssh mail mx dhcp http ping icmp telnet imap smtp ldap imaps ldaps httpd web help support faq www admin secure official steve kemp notice secret !
);


#
#  Magic-users can have more than five hostnames ..
#
our %MAGIC = { "skx" => 1, };



#
#  Set this to 1 if you wish to disable new account-registration.
#
our $CLOSED = 0;

#
#  Set this to one to make the site read-only.
#
our $READ_ONLY = 0;

#
#  This is the threshold period beneath which updates are forbidden.
#
#  For example if the value is set to 300 then users can change their
# IP address no more than once every five minutes:  5 * 60 = 300
#
our $THRESHOLD = 300;

#
#  The default TTL for our entries.
#
our $TTL = 300;


#
# SMTP details are necessary for allowing password resets.
#
our $SMTP_HOST     = "smtp.gmail.com";
our $SMTP_PORT     = 465;
our $SMTP_USERNAME = "";
our $SMTP_PASSWORD = "";


#
#
# Path to our SQLite database
#
our $DB_PATH = "/srv/db.db";

1;
