To: <!-- tmpl_var name='to' -->
From: <!-- tmpl_var name='from' -->
Subject: Reset your password

To reset your password for the account <!-- tmpl_var name='username' --> please click the following link:

    https://dhcp.io/forgotten/<!-- tmpl_var name='token' -->

If you have any questions, or suggestions, please reply to this email.

Steve
--
